<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Form</title>

<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<!-- HEADER -->
	<div th:replace="view/header :: myheader"></div>

	
	<a th:href="@{/test/home}">Home</a><span><strong> | </strong></span>
	<a th:href="@{/test/page1}">Page1</a>
	
	
	<h2>THIS IS MY FORM PAGE</h2>
	
	<form th:action="@{/test/form}" method="post" th:object="${userDTO}">
		
		<span class="valid" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br>
		<input type="text" th:field="*{name}" placeholder="Enter Your Name"><br><br>
		
		<span class="valid" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br>
		<input type="email" th:field="*{email}" placeholder="Enter Your Email"><br><br>
		<button>send</button>
	
	</form>
	
	<!-- FOOTER -->
	<div th:replace="view/footer :: myfooter"></div>
</body>
</html>